{% extends 'base.j2' %}
{% import 'macros.j2' as macros %}

{% block body_class %} login-page {% endblock %}
{% block body_style %} height: auto; {% endblock %}


{% block body %}

<script>
function switch_block(block_id) {
  var blocks = ["merge-question","merge-warning", "merge-alert"];
  for (var i = 0; i < blocks.length; i++) {
    var block = document.getElementById(blocks[i]);
    if (blocks[i] == block_id) {
      block.classList.remove("d-none");
    } else {
      block.classList.add("d-none");
    }
  }
}
</script>

<div class="login-box" style="margin: 50px auto;">

  {{ macros.render_logo(class="login-logo", style="width: auto") }}

  <div class="card card-primary card-outline shadow-lg p-3 mb-5 bg-white rounded">

    <div class="card-body login-card-body text-center">
      <h5 class="login-box-msg text-bold">Merge Accounts</h5>

      <p class="font-weight-light mt-3">
        Your <b>{{ identity.provider }}</b> identity <br>
        is already associated
        with the existing account under the username <b>{{ identity.username }}</b>.
      </p>
      
      <h5 class="font-weight-light my-5">
          Would you like to merge your <b>{{ current_user.username }}</b> account
          with <b>{{ identity.username }}</b> account?
      </h5>

      <div class="my-4">
        <div class="d-container justify-content-center ">
          <div class="row align-items-center">
            <div class="col-5">
              <img src="{{ identity.picture or url_for('auth.static', filename='img/avatar/default-user-avatar.jpg') }}" 
                  class="img-circle elevation-1" alt="User Image"
                  style="width: 80px; height: 80px; object-fit: cover;">
            </div>
            <div class="col-2">
              <img src="{{ url_for('auth.static', filename='img/icons/arrow-right-to-left.png') }}" 
                  class="" style="width: 25px; height: 25px;">
            </div>
            <div class="col-5">
              <img src="{{ current_user.picture or url_for('auth.static', filename='img/avatar/default-user-avatar.jpg') }}" 
                  class="img-circle elevation-1" alt="User Image"
                  style="width: 80px; height: 80px; object-fit: cover;">
            </div>
          </div>
          <div class="row align-items-center">
            <div class="col-5">
              <span class="font-weight-light"><b>{{ identity.username }}</b></span>
            </div>
            <div class="col-2"></div>
            <div class="col-5">
              <span class="font-weight-light"><b>{{ current_user.username }}</b></span>
            </div>
        </div>
      </div>

      <div id="merge-question">
        <div class="text-center mt-5 row">
          <div class="col-6">
            <a href="{{ url_for("auth.profile") }}" class="btn btn-block btn-dark">
            Back
            </a>
          </div>
          <div class="col-6">
            <button type="button" onclick="switch_block('merge-warning')"
                class="btn btn-block btn-primary">
              Merge
            </button>
          </div>
        </div>
      </div>

      <div id="merge-warning" class="d-none my-5">
        <div style="background-color: #FCF3CF; padding: 15px; border-radius: 20px;">
          <span style="color: var(--eosc-yellow)">
          <i class="fas fa-exclamation-triangle"></i>
          <b class="text-warning font-weight-bold">Warning:</b></span>
          <span class="font-weight-light" style="color: var(--test-aborted)">
            all content from your current 
            <b class="font-weight-bold">{{ current_user.username }}</b> account 
            will be transferred to the 
            <b class="font-weight-bold">{{ identity.username }}</b> account,
            and then the <b class="font-weight-bold">{{ current_user.username }}</b> 
            account will be deleted!
          </span>
        </div>

        <div class="text-center mt-5 row">
          <div class="col-6">
            <a href="{{ url_for("auth.profile") }}" class="btn btn-block btn-dark">
            Back
            </a>
          </div>
          <div class="col-6">
            <button type="button" onclick="switch_block('merge-alert')"
                class="btn btn-block btn-secondary">
              Merge
            </button>
          </div>
        </div>
      </div>
      
      <div id="merge-alert" class="d-none my-5">
        <div style="background-color: #FCF3CF; padding: 15px; border-radius: 20px;">
          <span style="color: var(--eosc-yellow)">
          <i class="fas fa-exclamation-triangle"></i>
          <b class="text-warning font-weight-bold">WARNING:</b></span>
          <span class="font-weight-light" style="color: var(--test-aborted)">
            all content from your current 
            <b class="font-weight-bold">{{ current_user.username }}</b> account 
            will be transferred to the 
            <b class="font-weight-bold">{{ identity.username }}</b> account,
            and then the <b class="font-weight-bold">{{ current_user.username }}</b> 
            account will be deleted!
          </span>
        </div>
        <div class="bg-danger text-white my-5" style="padding: 20px; border-radius: 20px;">
          <span style="color: white;">
          <i class="fas fa-exclamation-circle"></i>
          <b class="text-white font-weight-bold" style="font-variant: small-caps;">WARNING:</b></span>
          <span class="font-weight-bold" style="color: var(--test-aborted);">
            THIS ACTION CANNOT BE UNDONE!
          </span>
        </div>

        <form method="POST">
          {{ form.hidden_tag() }}
          <input type="hidden" value="{{ provider }}" name="provider">
          <input type="hidden" value={{ username }} name="username">
          <div class="text-center my-4 row">
            <div class="col-6">
              <a href="{{ url_for("auth.profile") }}" class="btn btn-block btn-secondary">
              Back
              </a>
            </div>
            <div class="col-6">
              <button type="submit"
                  class="btn btn-block btn-danger">
                Merge
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
